# SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
# SPDX-License-Identifier: BSD-3-Clause-Open-MPI

[submodule "ocudu_elements/ocudu_o1_adapter"]
	path = ocudu_elements/ocudu_o1_adapter
	url = ../ocudu_o1_adapter.git
[submodule "ocudu_elements/ocudu_netconf"]
	path = ocudu_elements/ocudu_netconf
	url = ../ocudu_netconf.git
